@import './colors';


.mainAbout {
    
    div.fullScreen {
        width: 100%;
        background-image: url("../assets/mitchell-luo.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: rgb(80, 80, 80);

        
        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10%;
            font-size: 2em;

            p {
                margin-top: 20px;
                font-size: 20px;
            }
        }
    }

    section {
        width: 50%;
        margin: 0 auto;
        color: rgb(80, 80, 80);

        .div-companny {
            h1 {
                margin: 3% 0 3% 0;
            }

            p {
                font-size: 15px;
            }
        }

        .div-passion {
            margin: 3% 0 3% 0;
            div {
                margin: 2% 0 2% 0;
                width: 100%;
                display: flex;
                // align-items: stretch;
              
                .div-passion-header {
                   width: 40%;
                    
                }

                .div-passion-text {
                   
                  
                }
            }
        }
    }

    .section-team {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 60px;
        margin-bottom: 20px;
        
        div {
            text-align: center;
            width: 20%;
            img {
                width: 100%;
           
            }
    
            h1 {
                font-size: 21px;
                margin: 5px 0 5px 0;
            }
            p {
                margin: 5px 0 5px 0;
            }
        }

    }

}