@import './colors';
@import './buttons';

.forms {
   
    display: flex;
    justify-content: center;
    align-items: center; 

    button {
        width: 100%;
    }
}
h1.log-in {

    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 15% 0 1% 0;
}