@import './colors';
@import './fonts';
@import './mixins';
@import './buttons';

.men-section {
    background-image: url("../assets/men-style-trend.jpg");
    background-size: cover;
    overflow: hidden;
    color: $main-color;
    height: 100vh;
    width: 100%;

    

    .headerMen {
        @include flex-center;
        flex-direction: column;
        font-size: 2rem;
        color: $main-color;
    }
    
    .look {
        margin: 15rem;
        text-align: center;
        color: $main-color;
        font-size: 5rem;
        button {
            @include button;
        }

        button:hover {
            @include hover;
        }
    }
}