@import './colors';
@import './buttons';

.signup-main {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        margin-top: 10px;
        width: 100%;
    }

}

h1.signup {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 15% 0 1% 0;
}